<div class="likes-container">
  <h2>Things I Like</h2>

  <div class="likes">
    <h3>Books</h3>
    <ul id="book-likes">
      <% @books.each do |book| %>
        <li id="item-<%= book.id %>"><%= book.name %> <span class="rec-button"><a href="">Get Recommendation</a></span></li>
      <% end %>
    </ul>
  </div>
  <div class="likes">
    <h3>Bands</h3>
    <ul id="band-likes">
      <% @bands.each do |band| %>
        <li id="item-<%= band.id %>"><%= band.name %> <span class="rec-button"><a href="">Get Recommendation</a></span></li>
      <% end %>
    </ul>
  </div>
  <div class="likes">
    <h3>Movies</h3>
    <ul id="movie-likes">
      <% @movies.each do |movie| %>
        <li id="item-<%= movie.id %>"><%= movie.name %> <span class="rec-button"><a href="">Get Recommendation</a></span></li>
      <% end %>
    </ul>
  </div>
  <div class="likes">
    <h3>TV Shows</h3>
    <ul id="show-likes">
      <% @shows.each do |show| %>
        <li id="item-<%= show.id %>"><%= show.name %> <span class="rec-button"><a href="">Get Recommendation</a></span></li>
      <% end %>
    </ul>
  </div>
  <div class="likes">
    <h3>Podcasts</h3>
    <ul id="podcast-likes">
      <% @podcasts.each do |podcast| %>
        <li id="item-<%= podcast.id %>"><%= podcast.name %> <span class="rec-button"><a href="">Get Recommendation</a></span></li>
      <% end %>
    </ul>
  </div>
  <div class="likes">
    <h3>Authors</h3>
    <ul id="author-likes">
      <% @authors.each do |author| %>
        <li id="item-<%= author.id %>"><%= author.name %> <span class="rec-button"><a href="">Get Recommendation</a></span></li>
      <% end %>
    </ul>
  </div>
  <div class="likes">
    <h3>Games</h3>
    <ul id="game-likes">
      <% @games.each do |game| %>
        <li id="item-<%= game.id %>"><%= game.name %> <span class="rec-button"><a href="">Get Recommendation</a></span></li>
      <% end %>
    </ul>
  </div>

  <%= form_tag do %>
    <%= label_tag :item_name %>
    <%= text_field_tag :item_name %>
    <%= select_tag :item_type, options_for_select([['band', 0], ['movie', 1], ['show', 2], ['podcast', 3], ['book', 4], ['author', 5], ['game', 6]]) %>
    <%= submit_tag "Add New" %>
  <% end %>
</div>
<div class="recs-container">
  <div id="staging-box">
    <ul></ul>
  </div>
  <div class="get-recs-button"><%= link_to 'Get Recommendations!', search_path %></div>
</div>
