<h2>Things I Like</h2>

<div id="book-likes">
  <% @books.each do |book| %>
    <%= book.name %>
  <% end %>
</div>
<div id="band-likes">
  <% @bands.each do |band| %>
    <%= band.name %>
  <% end %>
</div>
<div id="movie-likes">
  <% @movies.each do |movie| %>
    <%= movie.name %>
  <% end %>
</div>
<div id="show-likes">
  <% @shows.each do |show| %>
    <%= show.name %>
  <% end %>
</div>
<div id="podcast-likes">
  <% @podcasts.each do |podcast| %>
    <%= podcast.name %>
  <% end %>
</div>
<div id="author-likes">
  <% @authors.each do |author| %>
    <%= author.name %>
  <% end %>
</div>
<div id="game-likes">
  <% @games.each do |game| %>
    <%= game.name %>
  <% end %>
</div>

<%= form_tag do %>
  <%= label_tag :item_name %>
  <%= text_field_tag :item_name %>
  <%= select_tag :item_type, options_for_select([['band', 0], ['movie', 1], ['show', 2], ['podcast', 3], ['book', 4], ['author', 5], ['game', 6]]) %>
  <%= submit_tag "Add New" %>
<% end %>