<!DOCTYPE html>
<html>
  <head>
    <title>WhatsNext</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto:300,400,700" %>
  </head>

  <body>
    <nav>
      <h1><%= link_to "What's Next", profile_path %></h1>
      <div class="user-info">
        <% if current_user %>
          <h5><%= current_user.name %></h5>
        <% end %>
      </div>
    </nav>
    <div class="container">  
      <%= yield %>
    </div>
  </body>
</html>
